<h1>設定</h1>

<ul>
  <li><%= link_to "カテゴリー管理", categories_path %></li>
  <li><%= link_to "お問い合わせ", new_inquiry_path %></li>
  <li><%= link_to "利用規約", terms_path %></li>
  <li><%= link_to "プライバシーポリシー", privacy_path %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
</ul>