<h1>Items</h1>

<%= form_with url: items_path, method: :get do |f| %>
  <%= f.text_field :keyword, value: params[:keyword], placeholder: "商品名を入力" %>
  <%= f.submit "検索" %>
<% end %>

<%= link_to "新規作成", new_item_path %>

<ul>
  <% @items.each do |item| %>
    <li>
      <% if item.image.attached? %>
        <%= image_tag item.image, width: 100 %>
      <% end %>

      <%= item.name %>
      (<%= item.category.name %>)

      <%= link_to "編集", edit_item_path(item) %>

      <%= button_to "削除", 
                    item_path(item), 
                    method: :delete %>
    </li>
  <% end %>
</ul>