<h1>Items</h1>

<%= form_with url: items_path, method: :get do |f| %>
  <%= f.text_field :keyword, value: params[:keyword], placeholder: "商品名を入力" %>
  <%= f.submit "検索" %>

  <%= f.select :sort,
             [
               ["購入が新しい順", "purchased_desc"],
               ["購入が古い順", "purchased_asc"],
               ["在庫数が多い順", "quantity_desc"],
               ["在庫数が少ない順", "quantity_asc"],
               ["あいうえお順", "name_asc"]
             ],
             { include_blank: "並び替えを選択" },
             { selected: params[:sort] } %>
<% end %>



<%= link_to "新規作成", new_item_path %>

<%= form_with url: bulk_destroy_items_path, method: :delete do %>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= check_box_tag "item_ids[]", item.id %>

        <% if item.image.attached? %>
          <%= image_tag item.image, width: 100 %>
        <% end %>

        <%= item.name %>
        (<%= item.category.name %>)

        <%= link_to "編集", edit_item_path(item) %>

        <%= link_to "削除", 
                    item_path(item),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "本当に削除しますか？"
                    }  %>

        <%= link_to "消費",
                    consume_item_path(item),
                    data: {
                      turbo_method: :patch,
                      turbo_confirm: "本当に消費しますか？"
                    } %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag "選択したアイテムを削除" %>
<% end %>