<!DOCTYPE html>
<html>
  <head>
    <title>Stockly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div>
        <%= message %>
      </div>
    <% end %>  

    <%= yield %>
    <% if user_signed_in? %>
      <footer>
        <nav>
          <%= link_to "ホーム", items_path %>
          <%= link_to "買う物", shopping_items_path %>
          <%= link_to "アイテム追加", new_item_path %>
          <%= link_to "消費履歴", consumptions_path %>
          <%= link_to "設定", settings_path %>
        </nav>
      </footer>
    <% end %>
  </body>
</html>
